.card-list {
    width: 157vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
}

@media screen and (max-width: 1700px) {
    .card-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 125vh;
    }
}

@media screen and (max-width: 875px) {
    .card-list {
        grid-template-columns: 1fr 1fr 1fr;
        width: 90vh;
    }
}

@media screen and (max-width: 912px) {
    .card-list {
        grid-template-columns: 1fr 1fr;
        width: 60vh;
    }
}

@media screen and (max-width: 420px) {
    .card-list {
        grid-template-columns: 1fr;
        width: 32vh;
    }
}

@media screen and (max-width: 380px) {
    .card-list {
        width: 40.2vh;
    }
}

@media screen and (max-width: 300px) {
    .card-list {
        width: 35vh;
    }
}