.nav-bar {
    background-color: #0D0D0D;
    padding: 20px;
    margin-bottom: 35px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.logo {
    padding-left: 10px;
    width: 17.5vh;
}

.menu-icon {
    color: gray;
    font-size: 25px;
    float: right;
    padding-top: 2.5%;
    font-size: 1.75em;
    padding-right: 10px;
    display: none;
    background: none;
    border: none;
}

.screen {
    margin-bottom: 100px;
}

@media screen and (max-width: 650px) {
    .menu-icon {
        display: block;
    }
    
    .search {
        display: none;
    }
}

@media screen and (max-width: 540px) {
    .menu-icon {
        padding-top: 2.25%;
        font-size: 1.7em;
    }
}

@media screen and (max-width: 415px) {
    .menu-icon {
        font-size: 2.25em;
    }
}

@media screen and (max-width: 360px) {
    .menu-icon {
        padding-top: 3.25%;
        font-size: 1.7em;
    }
}

.tab {
    padding: 20px;
    animation: show_tab 2s;
}

@keyframes show_tab {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.tab_logo {
    width: 35vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
}

.search-btn {
    background-color: gray;
    text-decoration: none;
    border: none;
    margin-top: 30px;
    padding: 10px;
    font-weight: 600;
    color: #0D0D0D;
    margin-left: 5px;
}